# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# Sphinx documentation
docs/_build/

# file: ~/.gitignore_global
.DS_Store
.idea

# Network files
*.swp
nohup.out
network.out

#Temporal commit to OOR
data_generation/
keystore_old/
keystore/keystore/

# Consensus tmp files
**/log.txt
